
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

.gray-bg {
  background-color: #f3f3f3;
}

.uk-grid > a.uk-button-text:before {
  left: 16px;
  transform: translateY(1px);
  border-bottom: 1px solid #39f;
}

.uk-card-default.uk-card-hover {
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }
}

.uk-card {
  padding: 30px 30px;
}

.challenge-list-bullet {
  $cover-color: #f3f3f3;
  $bullet-color: #cccccc;
  $solved-bullet-color: #71b882;
  $selected-bullet-color: #39f;

  position: relative;

  /* Top cover */
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 1px;
    height: 21px;
    background-color: $cover-color;
  }

  /* li element */
  & > li {
    margin-top: 0 !important;
    padding-top: 7px;
    border-left: 1px solid $bullet-color;

    /* Bullet */
    &::before {
      $length: 6px;

      background-image: none;
      background-color: $bullet-color;
      width: $length;
      height: $length;
      border: 1px solid #aaa;
      border-radius: 50%;
      transform: translate(-4px, 16px);
    }

    /* Bullet when selected */
    &.selected::before {
      background-color: $selected-bullet-color;
      border: none;
      width: 8px;
      height: 8px;
    }

    /* Bullet when solved */
    &.solved::before {
      background-color: $solved-bullet-color;
      border: none;
      width: 8px;
      height: 8px;
    }

    /* Bottom cover */
    &:last-child::after {
      content: '';
      position: absolute;
      top: 24px;
      left: -1px;
      width: 1px;
      height: 20px;
      background-color: $cover-color;
    }
  }
}

.uk-parent > a > .uk-icon {
  float: right;
}

.uk-parent.uk-open > a > .uk-icon {
  color: #39f;
  transform: rotate(180deg);
}
