
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

.subjects-container {
  padding-top: 50px;

  h4 {
    color: #777;
    margin-bottom: 33px;
    padding-bottom: 5px;
  }

  h1 {
    border-bottom: 2px solid #38c172;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.subjects-panel {
  padding-bottom: 26px;
}

.subjects-item {
  padding-top: 20px;
  margin-bottom: 20px;

  &:last-child {
    border: none;
  }

  li {
    width: 45%;
    vertical-align: text-top;
  }

  @include media-breakpoint-up(md) {
    li {
      width: 20%;
      margin-bottom: 18px;
      font-size: 20px;
    }
  }
}

.list-group-item.active {
  a {
    color: white;
  }
}

a {
  &:hover {
    text-decoration: none;
  }

  color: #18444c;
}

.home-panel {
  padding-top: 100px;
  vertical-align: text-top;

  p {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 40px;
    color: #777;
  }

  h1 {
    font-size: 4rem;
  }

  button {
    min-width: 200px;
    color: white;
  }
}

.home-register {
  h4 {
    color: #777;
    margin-bottom: 50px;
  }

  button {
    margin-top: 26px;
  }
}

nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.default-input {
  height: 33px;
  padding: 6px 12px 8px;
  margin-bottom: 12px;
  border-radius: 3px;
  border: 1px solid #d3d9de;
  @include placeholder {
    color: #7d7d7d;
  }
  &:focus {
    @include placeholder {
      color: #b8b9bb;
    }
    border-color: #c9d0d6;
    outline: 0;
  }
}

.default-card {
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 6px 10px 0px rgba(115,143,147,.3);
}

.auth-card {
  h2 {
    margin-bottom: 50px;
    text-align: center;
  }

  button {
    margin-top: 26px;
  }
}

.side-header {
  padding-left: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
