/**
* Make icon point up and down.
*/
@mixin hook-nav-misc() {
  .uk-nav-parent-icon > .uk-parent > a::after {
    transform: rotate(-90deg);
  }

  .uk-nav-parent-icon > .uk-parent.uk-open > a::after {
    transform: scaleY(-1);
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

.wide-header {
  span {
    color: #46535e;
  }

  &::before {
    content: '';
    display: block;
    position: relative;
    height: 5px;
    width: calc(100% - 130px);
    top: 12px;
    left: 130px;
    background-color: #e5e7e8
  }
}

.gray-bg {
  background-color: #f3f3f3;
}
